﻿@model TestErrorsModel

<form asp-controller="Home" asp-action="Validate" method="post">
    <div class="form-group">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row">
            <label>Invalid CPF</label>
            <input type="text" asp-for="PersonCPF" class="form-control" />
            <span asp-validation-for="PersonCPF" class="text-danger"></span>
        </div>

        <div class="row">
            <label>Invalid CNPJ</label>
            <input type="text" asp-for="CompanyCNPJ" class="form-control" />
            <span asp-validation-for="CompanyCNPJ" class="text-danger"></span>
        </div>

        <div class="row">
            <label>Invalid Telephone</label>
            <input type="text" asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="row">
            <label>Invalid Number</label>
            <input type="text" asp-for="Number" class="form-control" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-check">
        <input type="checkbox" class="form-check-input" asp-for="Checked" /> <label class="form-check-label">Must be true</label>
        <span asp-validation-for="Checked" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>